.sv-query-editor nav {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
  align-items: center;
}

.sv-query-editor button {
  background-color: rgb(52, 54, 100);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.95em;
  border-radius: 30px;
  padding: 8px 15px;
  transition: background-color 0.2s ease;
}

.sv-query-editor button:hover {
  background-color: rgba(52, 54, 100, 0.9);
}

.sv-query-editor button:active {
  background-color: rgba(52, 54, 100, 0.8);
}

.query-error {
  color: crimson;
  align-self: center;
}

/* Monaco Editor */
.editorDiv {
  height: 400px;
  margin-bottom: 16px;
  border: 3px solid #e1e1e1;
}

.editorDiv.hasError {
  border: 3px solid crimson;
}

.editorDiv .margin {
  background-color: #f8f9fa;
}

.editorDiv .line-numbers {
  color: #999999;
}

.editorDiv .current-line {
  background-color: #d6d6d6;
}

.monaco-editor-background {
  background-color: #f5f5f5;
}
